{% extends 'genericos/base.html' %}

{% block title_head %}
<title>about</title>
{% endblock title_head %}


{% block h1_header %}
<h1>About</h1>
{% endblock h1_header %}

{% block contenido %}
<div class="miformulario">
<br> Soy un profesional en el manejo de datos, con 3 años de
experiencia en el área. Estudio Ingeniería en Sistemas de
Información de la UTN y tengo vasta experiencia en Qliksense,
Qlikview, NPrinting, Data Model, ETLs, desarrollo, SQL, C#, .NET, C,
C++. También me apasiona la lectura, la música, el voley y el
ajedrez.<br> </div>
{% endblock contenido %}