{% extends 'genericos/base.html' %}

{% block title_head %}
<title>Frases</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Listado de Frases</h1>
{% endblock h1_header %}


{% block contenido %}
<p>
    <form action={% url 'inicio:lista_frases' %} >
        <div class='formulario'>
            <li>
        {{formulario}}
        <button>Buscar</button>
        </div>
    </form>
</p>

{% if frases %}
    {% for mifrase in frases %}
    <li>
        Nombre: {{mifrase.nombre}} - Edad: {{mifrase.edad}}
        Frase : {{mifrase.frase}}
    </li>
    {% if request.user.is_superuser  %}
    <td>
        <form action={% url 'inicio:editar_frase' mifrase.id %}   method="POST" >
            {% csrf_token %}
            <button type="submit">Editar</button>
        </form>
   
    </td>
    {% endif %}
    {% endfor %}

{% else %}
    <h2>No hay datos sobre animales por el momento.</h2>
{% endif %}
{% endblock contenido %}
