{% extends 'genericos/base.html' %}

{% block title_head %}
<title>Editar perfil</title>
{% endblock title_head %}


{% block h1_header %}
<h1>Mi perfil</h1>
{% endblock h1_header %}

{% block contenido %}
<div class='miformulario'>
{% if miperfil.errors %}
<p>Formulario invalido</p>
{% endif %}

        <div>
            {% if request.user == perfil.user %}
            <a href="{% url 'usuarios:editar_descripcion' perfil.user.username %}" class="btn btn-primary">Editar Descripción</a>
            <a href="{% url 'usuarios:editar_enlace' perfil.user.username %}" class="btn btn-primary">Editar Enlace</a>
          {% endif %}
            <p>Nombre: {{ miperfil.user.first_name }} {{ miperfil.user.last_name }}</p>
            <p>Email: {{ miperfil.user.email }}</p>
            <p>Descripción: {{ miperfil.frase_descripcion }}</p>
            {% if request.user.infoextra.avatar %}
            <h2>Perfil de {{ miperfil.user.username }} <img src="{{ miperfil.avatar.url }}" alt="Foto de perfil"></h2>
            {% else %}
            <h2>Perfil de {{ miperfil.user.username }}</h2>
            {% endif %}


         

        </div>
       
 

 

</div>
{% endblock contenido %}
